html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
main {
    padding: 0;
    margin: 0;
}

/* Header */
.header {}

header {
    display: flex;
    align-items: center;
    padding: 24px 16px 0;
    justify-content: space-between;
}

.logo {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 104px;
    height: 16px;
}

.btn-try-it {
    width: 96px;
    height: 24px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
    border-radius: 12px;
}

.btn-try-it p {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 10px;
    margin: 4px 22px 6px 22px;
}


/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}