// Primary
$blue: hsl(238, 40%, 52%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$dark_blue: hsl(212, 24%, 26%);
$gray_blue: hsl(211, 10%, 45%);

$light_gray_blue: hsl(239, 57%, 85%);

$light_gray: hsl(223, 19%, 93%);
$very_light_gray: hsl(228, 33%, 97%);

$soft_red: hsl(358, 79%, 66%);
$pale_red: hsl(357, 100%, 86%);
