html{
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;

}

body,
main {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: #ccd4f5;
}

main {
    padding-top: 64px;
}