html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;

}

body,
main {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: $very_light_gray;
    font-family: 'Rubik', sans-serif;
}

main {
    padding-top: 64px;
}